{
    "swagger": "2.0",
    "info": {
        "title": "B2SHARE API",
        "description": "EUDAT B2SHARE API",
        "version": "1.0.0"
    },
    "host": "trng-b2share.eudat.eu",
    "schemes": [
        "https"
    ],
    "basePath": "/api",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/records": {
            "get": {
                "summary": "List records",
                "description": "List all the deposition records, without any filtering.\n",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    },
                    {
                        "name": "page_offset",
                        "in": "query",
                        "description": "",
                        "required": false,
                        "type": "number",
                        "format": "double"
                    }
                ],
                "tags": [
                    "Deposition"
                ],
                "responses": {
                    "200": {
                        "description": "An array of records",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Deposition"
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/depositions": {
            "post": {
                "summary": "Create a new deposition",
                "description": "Create a new deposition",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Deposition"
                ],
                "responses": {
                    "201": {
                        "description": "An array of price estimates by product",
                        "schema": {
                            "properties": {
                                "deposit_id": {
                                    "type": "string",
                                    "description": "."
                                },
                                "message": {
                                    "type": "string",
                                    "description": "."
                                },
                                "location": {
                                    "type": "string",
                                    "description": "."
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/deposition/{deposition_id}/files": {
            "post": {
                "summary": "Create a new deposition",
                "description": "Create a new deposition",
                "consumes": [
                    "multipart/form-data"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deposition_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "file",
                        "in": "formData",
                        "description": "The avatar of the user",
                        "required": true,
                        "type": "file"
                    }
                ],
                "tags": [
                    "Deposition"
                ],
                "responses": {
                    "200": {
                        "description": "An array of price estimates by product",
                        "schema": {
                            "properties": {
                                "files": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/FileInfo"
                                    },
                                    "description": "."
                                },
                                "message": {
                                    "type": "string",
                                    "description": "."
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            },
            "get": {
                "summary": "Create a new deposition",
                "description": "Create a new deposition",
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deposition_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "Deposition"
                ],
                "responses": {
                    "200": {
                        "description": "An array of price estimates by product",
                        "schema": {
                            "properties": {
                                "files": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/FileInfo"
                                    },
                                    "description": "."
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        },
        "/deposition/{deposition_id}/commit": {
            "post": {
                "summary": "Commits a deposition",
                "description": "Commits a deposition",
                "consumes": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "access_token",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "deposition_id",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "metadata",
                        "in": "body",
                        "description": "The metadata",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/Metadata"
                        }
                    }
                ],
                "tags": [
                    "Deposition"
                ],
                "responses": {
                    "200": {
                        "description": "An array of price estimates by product",
                        "schema": {
                            "properties": {
                                "files": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/FileInfo"
                                    },
                                    "description": "."
                                },
                                "message": {
                                    "type": "string",
                                    "description": "."
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/Error"
                        }
                    }
                }
            }
        } 
    },
    "definitions": {
    	"Deposition": {
    		"required" : [ "deposition_id" ],
            "properties": {
                "deposition_id": {
                    "type": "number",
                    "description": "."
                }
            }
        },
        "Metadata": {
    		"required" : [ "description", "title", "language_code", "ling_resource_type" ],
            "properties": {
                "record_id": {
                    "type": "number",
                    "description": "."
                },
                "open_access": {
                    "type": "boolean",
                    "description": "."
                },
                "title": {
                    "type": "string",
                    "description": "."
                },
                "description": {
                    "type": "string",
                    "description": "."
                },
                "domain": {
                    "type": "string",
                    "description": "."
                },
                "discipline": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "."
                },
                "contributors": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "."
                },
                "creator": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "description": "."
                },
                "date": {
                    "type": "string",
                    "description": "."
                },
                "pid": {
                    "type": "string",
                    "description": "."
                },
                "email": {
                    "type": "string",
                    "description": "."
                },
                "file_url": {
                    "type": "string",
                    "description": "."
                },
                "licence": {
                    "type": "string",
                    "description": "."
                },
                "publication_date": {
                    "type": "string",
                    "description": "."
                },
                "language_code": {
                    "type": "string",
                    "description": "."
                },
                "language": {
                    "type": "string",
                    "description": "."
                },
                "publisher": {
                    "type": "string",
                    "description": "."
                },
                "project_name": {
                    "type": "string",
                    "description": "."
                },
                "quality": {
                    "type": "string",
                    "description": "."
                },
                "region": {
                    "type": "string",
                    "description": "."
                },
                "version": {
                    "type": "string",
                    "description": "."
                },
                "contact_email": {
                    "type": "string",
                    "description": "."
                },
                "alternate_identifier": {
                    "type": "string",
                    "description": "."
                },
                "keywords": {
                    "type": "string",
                    "description": "."
                },
                "embargo_till": {
                    "type": "string",
                    "description": "."
                },
                "ling_resource_type": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "enum" : ["Text", "Image", "Video", "Audio", "Time-Series", "Other"]
                    },
                    "description": "."
                },
                "resource_type": {
                    "type": "array",
                    "items": {
                        "type": "string",
                        "enum" : ["Text", "Image", "Video", "Audio", "Time-Series", "Other"]
                    },
                    "description": "."
                },
                "filea": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/FileDetailInfo"
                    }
                }
            }
        },
        "FileDetailInfo": {
            "properties": {
                "name": {
                    "type": "string",
                    "description": "First name of the Uber user."
                },
                "size": {
                    "type": "number",
                    "description": "Last name of the Uber user."
                },
                "url": {
                    "type": "string",
                    "description": "Last name of the Uber user."
                }
            }
        },
        "FileInfo": {
            "properties": {
                "name": {
                    "type": "string",
                    "description": "First name of the Uber user."
                },
                "size": {
                    "type": "number",
                    "description": "Last name of the Uber user."
                }
            }
        },
        "Error": {
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        }
    }
}